---
layout: layouts/base.njk
section: post
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        Tags: <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}


<script>let processScroll = () => {
  let docElem = document.documentElement, 
    docBody = document.body,
    scrollTop = docElem['scrollTop'] || docBody['scrollTop'],
    scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight,
    scrollPercent = scrollTop / scrollBottom * 100 + '%';
  
   // console.log(scrollTop + ' / ' + scrollBottom + ' / ' + scrollPercent);
   document.getElementById("progress-bar").style.setProperty("--scrollAmount", scrollPercent);      
}


document.addEventListener('scroll', processScroll);</script>
</article>

<nav>
  <a href="{{ '/blog/' | url }}">← More posts</a>
</nav>
